<app-header></app-header>
<form class="form-signin">
    <h2 class="form-signin-heading">Se Connecter :</h2>
  
    <label for="mail" class="sr-only">Email</label>
    <input type="text" id="mail" name="mail" ngModel class="form-control" placeholder="Email" required>
    <label for="inputPassword" class="sr-only">Password</label>
    <br>
    <input type="password" id="inputPassword" name="password" ngModel class="form-control" placeholder="Password" required>
    <label for="phoneNumber" class="sr-only">Numéro de télephone</label>
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Se Connecter</button>
  </form>