<app-header></app-header>

<form class="form-signin" [formGroup]="registerForm" (ngSubmit)="register()">
    <h2 class="form-signin-heading">Inscription :</h2>
  
    <input type="text" name="firstname"  class="form-control" placeholder="Nom" formControlName="firstname">

    <input type="text"  name="lastName"  class="form-control" placeholder="Prenom" formControlName="lastname">

    <input type="text"  name="address"  class="form-control" placeholder="Adresse" formControlName="address">

    <input type="number"  name="phoneNumber"  class="form-control" placeholder="Numéro de télephone" formControlName="phoneNumber">

    <input type="text"  name="email"  class="form-control" placeholder="Email" formControlName="email">

    <input type="password"  name="password"  class="form-control" placeholder=" mot de passe" formControlName="password">
  
    <input type="password"  name="repeatpassword"  class="form-control" placeholder="repéter mot de passe" formControlName="rpeatpassword">
    
    <button class="btn btn-lg btn-primary btn-block" type="submit">S'inscrire</button>

  </form>